.about-us {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-us h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
  }
  
  .about-us-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .about-us-item:hover {
    transform: scale(1.02);
  }
  
  .about-us-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .about-us-text {
    display: flex;
    flex-direction: column;
  }
  
  .about-us-text h2 {
    font-size: 1.5rem;
    color: #73937E;
    margin: 0;
  }
  
  .about-us-text p {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
  }
  
  .about-us-bio {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #444;
  }
  
  .expanded {
    background-color: #D8E8D2;
    border-left: 5px solid #73937E;
  }
  